/* Start Global Varibles */
:root {
  --main-transition: 0.3s;
  --main-color: #0075ff;
  --main-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* End Global Varibles */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", "sans-serif";
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

::selection {
  color: #fff;
  background-color: var(--main-color);
}

:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
/* End Global Rules */

/* Start Container Styles */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (max-width: 768px) {
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container Styles */

/* Start Main Page Styles */
body > div.page {
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
}
/* End Main Page Styles */

/* Start Sidebar Styles */
body > div.page > aside {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  width: 250px;
  position: relative;
  padding: 20px;
}

@media (max-width: 768px) {
  body > div.page > aside {
    width: 58px;
    padding: 10px;
  }
}

body > div.page > aside > h3.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin: 10px auto;
  position: relative;
  width: fit-content;
}

@media (max-width: 768px) {
  body > div.page > aside > h3.title {
    display: none;
  }
}

body > div.page > aside > h3.title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
}

body > div.page > aside > h3.title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -10px;
  border: solid 5px white;
  transform: translateX(-50%);
}

body > div.page > aside > h3.title a {
  color: var(--main-color);
}

body > div.page > aside > nav {
  margin-top: 30px;
}

body > div.page > aside > nav > ul li a {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body > div.page > aside > nav > ul li a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  left: -100%;
  top: 0;
  border-radius: 6px;
  z-index: -1;
  transition: var(--main-transition);
}

body > div.page > aside > nav > ul li a:hover::before {
  left: 0;
}

body > div.page > aside > nav > ul li a.active {
  background-color: #eee;
}

body > div.page > aside > nav > ul li i {
  margin-right: 10px;
}

body > div.page > aside > nav > ul li span {
  text-transform: capitalize;
  font-size: 14px;
}

@media (max-width: 768px) {
  body > div.page > aside > nav > ul li span {
    display: none;
  }
}
/* End Sidebar Styles */

/* Start Header Styles */
body > div.page > .content {
  width: 100%;
}

body > div.page > .content > header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  min-width: 100%;
}

body > div.page > .content > header > form {
  position: relative;
}

body > div.page > .content > header > form::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

body > div.page > .content > header > form input {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 30px;
  position: relative;
  transition: var(--main-transition);
  caret-color: #777;
  color: #777;
  padding-left: 30px;
}

@media (max-width: 768px) {
  body > div.page > .content > header > form input {
    max-width: 150px;
  }
}

body > div.page > .content > header > form input:focus {
  padding-left: 50px;
}

body > div.page > .content > header > form input::placeholder {
  padding-left: 10px;
  text-transform: capitalize;
  transition: var(--main-transition);
}

body > div.page > .content > header > form input:focus::placeholder {
  opacity: 0;
}

body > div.page > .content > header > .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > div.page > .content > header > .icons span {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
}

body > div.page > .content > header > .icons > span:after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 7px;
  height: 7px;
  background-color: rgb(220, 53, 70);
  border-radius: 50%;
}

body > div.page > .content > header > .icons span:first-child::after {
  animation: flash-danger 0.9s linear infinite;
}

body > div.page > .content > header > .icons span:nth-child(2)::after {
  background-color: rgb(34, 192, 60);
  animation: flash 0.9s linear infinite;
}

body > div.page > .content > header > .icons > .profile {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

body > div.page > .content > header > .icons > .profile:hover > ul {
  opacity: 1;
  top: 65px;
}

body > div.page > .content > header > .icons > .profile img {
  max-width: 100%;
  border-radius: 50%;
}

body > div.page > .content > header > .icons > .profile > ul {
  position: absolute;
  right: 10px;
  top: 80px;
  background-color: white;
  width: 170px;
  opacity: 0;
  transition: var(--main-transition);
  z-index: 100;
}

body > div.page > .content > header > .icons > .profile > ul li {
  padding: 20px;
  color: black;
  border-bottom: 1px solid #ddd;
  transition: var(--main-transition);
}

body > div.page > .content > header > .icons > .profile > ul li:hover {
  transform: translateX(10px);
  opacity: 0.6;
}

body > div.page > .content > header > .icons > .profile > ul li:last-child a {
  color: red;
}

body > div.page > .content > header > .icons > .profile > ul li a i {
  margin-right: 15px;
}
/* End Header Styles */

/* Start Main Title Styles */
body > .page > .content > .main-title {
  text-transform: capitalize;
  font-size: 35px;
  margin: 40px 20px;
  width: fit-content;
  position: relative;
}

body > .page > .content > .main-title::after {
  content: "";
  width: 80%;
  height: 3px;
  border-radius: 6px;
  background-image: linear-gradient(to right, black 40%, white 40%);
  position: absolute;
  left: 0;
  bottom: -10px;
}
/* End Main Title Styles */

/* Start Wraper Styles */
body > div.page > .content > div.wraper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  gap: 20px;
}

@media (max-width: 768px) {
  body > div.page > .content > div.wraper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* End Wraper Styles */

/* Start Wraper Boxs Styles */
body > div.page > .content > div.wraper > div.box {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  body > div.page > .content > div.wraper > div.box {
    text-align: center;
  }
}
/* End Wraper Boxs Styles */

/* Start Welcome Box Styles */
body > div.page > .content > div.wraper > div.box.welcome > div:first-of-type {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #eee;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  body
    > div.page
    > .content
    > div.wraper
    > div.box.welcome
    > div:first-of-type {
    padding-bottom: 30px;
  }
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > .info {
  padding: 20px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > .info
  h3 {
  font-size: 30px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > .info
  h4 {
  color: #ccc;
  color: var(--grey-color);
  font-weight: normal;
  margin-top: 5px;
  text-align: left;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > img {
  width: 250px;
  padding: 20px;
}

@media (max-width: 768px) {
  body
    > div.page
    > .content
    > div.wraper
    > div.box.welcome
    > div:first-of-type
    > img {
    display: none;
  }
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > .img-holder {
  border: 5px solid white;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 0;
  transform: translateY(50%);
}

@media (max-width: 768px) {
  body
    > div.page
    > .content
    > div.wraper
    > div.box.welcome
    > div:first-of-type
    > .img-holder {
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:first-of-type
  > .img-holder
  img {
  max-width: 100%;
  border-radius: 50%;
}

body > div.page > .content > div.wraper > div.box.welcome > div:last-of-type {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 20px 30px;
  text-align: center;
  gap: 30px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  body > div.page > .content > div.wraper > div.box.welcome > div:last-of-type {
    flex-direction: column;
  }
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:last-of-type
  > div
  h3.title {
  font-weight: normal;
  margin-bottom: 5px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.welcome
  > div:last-of-type
  > div
  h3.note {
  font-size: 15px;
  color: var(--grey-color);
}

body > div.page > .content > div.wraper > div.box.welcome > button {
  position: absolute;
  right: 15px;
  bottom: 20px;
}
/* End Welcome Box Styles */

/* Start Draft Box Styles */
body > div.page > .content > div.wraper > div.box > h3.title {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

body > div.page > .content > div.wraper > div.box > p.description {
  color: var(--grey-color);
  text-transform: capitalize;
}

body > div.page > .content > div.wraper > div.box.draft {
  padding: 20px;
}

body > div.page > .content > div.wraper > div.box.draft > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > input[type="text"],
body > div.page > .content > div.wraper > div.box.draft > form > textarea {
  border: none;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 6px;
  caret-color: var(--grey-color);
  color: var(--grey-color);
  font-size: 18px;
}

body > div.page > .content > div.wraper > div.box.draft > form > textarea {
  resize: none;
  height: 150px;
  padding-top: 15px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > input[type="text"]::placeholder,
body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > textarea::placeholder {
  transition: var(--main-transition);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > input[type="text"]:focus::placeholder,
body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > textarea:focus::placeholder {
  opacity: 0;
}

body > div.page > .content .btn-primary {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--main-transition);
}

body > div.page > .content .btn-primary:hover {
  background-color: var(--main-alt-color);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.draft
  > form
  > input[type="submit"] {
  align-self: flex-end;
}
/* End Draft Box Styles */

/* Start Yearly Targets Box Styles */
body > div.page > .content > div.wraper > div.box.yearly-target {
  padding: 20px;
}

body > div.page > .content > div.wraper > div.box.yearly-target > .content {
  margin-top: 30px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  .row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  .row
  .icon-holder {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  .row.blue-row
  .icon-holder {
  color: var(--main-color);
  background-color: rgba(0, 119, 255, 0.2);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  .row.orange-row
  .icon-holder {
  color: var(--orange-color);
  background-color: rgba(245, 159, 11, 0.2);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  .row.green-row
  .icon-holder {
  color: var(--green-color);
  background-color: rgba(34, 197, 94, 0.2);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row
  > .details {
  width: 100%;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row
  > .details
  > .title {
  text-transform: capitalize;
  color: var(--grey-color);
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row
  > .details
  > .progress {
  position: relative;
  height: 4px;
  margin-top: 10px;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.blue-row
  > .details
  > .progress {
  background-image: linear-gradient(
    to right,
    var(--main-color) 85%,
    rgba(0, 119, 255, 0.2) 85%
  );
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.orange-row
  > .details
  > .progress {
  background-image: linear-gradient(
    to right,
    var(--orange-color) 85%,
    rgba(245, 159, 11, 0.2) 85%
  );
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.green-row
  > .details
  > .progress {
  background-image: linear-gradient(
    to right,
    var(--green-color) 85%,
    rgba(34, 197, 94, 0.2) 85%
  );
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row
  > .details
  > .progress::after {
  content: "85%";
  border-radius: 6px;
  font-size: 13px;
  color: white;
  padding: 2px 5px;
  position: absolute;
  left: 85%;
  top: -35px;
  transform: translateX(-50%);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.blue-row
  > .details
  > .progress::after {
  background-color: var(--main-color);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.orange-row
  > .details
  > .progress::after {
  background-color: var(--orange-color);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.green-row
  > .details
  > .progress::after {
  background-color: var(--green-color);
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row
  > .details
  > .progress::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 85%;
  transform: translateX(-50%);
  top: -16px;
  border-width: 6px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent transparent;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.orange-row
  > .details
  > .progress::before {
  border-color: var(--orange-color) transparent transparent transparent;
}

body
  > div.page
  > .content
  > div.wraper
  > div.box.yearly-target
  > .content
  > .row.green-row
  > .details
  > .progress::before {
  border-color: var(--green-color) transparent transparent transparent;
}
/* End Yearly Targets Box Styles */

/* Start Tickets Box Styles */
body > div.page > .content > div.wraper > div.box.tickets {
  padding: 20px;
}

body > div.page > .content > div.wraper > div.box.tickets > .content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card {
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card i {
  font-size: 30px;
  margin: 20px auto 10px;
} 

body > div.page > .content > div.wraper > div.box.tickets > .content > .card:first-of-type i {
  color: var(--orange-color);
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card:nth-child(2) i {
  color: var(--main-color);
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card:nth-child(3) i {
  color: var(--green-color);
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card:last-of-type i {
  color: var(--red-color);
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card .amount {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

body > div.page > .content > div.wraper > div.box.tickets > .content > .card .title {
  text-transform: capitalize;
  color: var(--grey-color);
  margin-bottom: 10px;
}
/* End Tickets Targets Box Styles */

/* Start Animations Styles */
@keyframes flash-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-sizing: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
  }
  100% {
    box-sizing: 0 0 0 0 rgba(34, 192, 60, 0);
  }
}
/* End Animations Styles */
