/* Start Global Varibles */
:root {
  --main-transition: 0.3s;
  --main-color: #2196f3;
  --main-color-alt: #0d69d5;
}
/* End Global Varibles */

/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", "sans-serif";
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

::selection {
  background-color: #fff;
  color: var(--main-color);
}

:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
/* End Global Rules */

/* Start Container Styles */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (max-width: 768px) {
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Container Styles */

/* Start Main Page Styles */
body > div.page {
  background-color: #f1f5f9;
  min-height: 100vh;
  display: flex;
}
/* End Main Page Styles */

/* Start Sidebar Styles */
body > div.page > aside {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  width: 250px;
  position: relative;
  padding: 20px;
}

@media (max-width: 768px) {
  body > div.page > aside {
    width: 58px;
    padding: 10px;
  }
}

body > div.page > aside > h3.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin: 10px auto;
  position: relative;
  width: fit-content;
}

@media (max-width: 768px) {
  body > div.page > aside > h3.title {
    display: none;
  }
}

body > div.page > aside > h3.title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
}

body > div.page > aside > h3.title::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -10px;
  border: solid 5px white;
  transform: translateX(-50%);
}

body > div.page > aside > h3.title a {
  color: var(--main-color);
}

body > div.page > aside > nav {
  margin-top: 30px;
}

body > div.page > aside > nav > ul li a {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body > div.page > aside > nav > ul li a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  left: -100%;
  top: 0;
  border-radius: 6px;
  z-index: -1;
  transition: var(--main-transition);
}

body > div.page > aside > nav > ul li a:hover::before {
  left: 0;
}

body > div.page > aside > nav > ul li a.active {
  background-color: #eee;
}

body > div.page > aside > nav > ul li i {
  margin-right: 10px;
}

body > div.page > aside > nav > ul li span {
  text-transform: capitalize;
  font-size: 14px;
}

@media (max-width: 768px) {
  body > div.page > aside > nav > ul li span {
    display: none;
  }
}
/* End Sidebar Styles */

/* Start Header Styles */
body > div.page > .content {
  width: 100%;
}

body > div.page > .content > header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  min-width: 100%;
}

body > div.page > .content > header > form {
  position: relative;
}

body > div.page > .content > header > form::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

body > div.page > .content > header > form input {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 30px;
  position: relative;
  transition: var(--main-transition);
  caret-color: #777;
  color: #777;
  padding-left: 30px;
}

@media (max-width: 768px) {
  body > div.page > .content > header > form input {
    max-width: 150px;
  }
}

body > div.page > .content > header > form input:focus {
  padding-left: 50px;
}

body > div.page > .content > header > form input::placeholder {
  padding-left: 10px;
  text-transform: capitalize;
  transition: var(--main-transition);
}

body > div.page > .content > header > form input:focus::placeholder {
  opacity: 0;
}

body > div.page > .content > header > .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > div.page > .content > header > .icons span {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
}

body > div.page > .content > header > .icons > span:after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  width: 7px;
  height: 7px;
  background-color: rgb(220, 53, 70);
  border-radius: 50%;
}

body > div.page > .content > header > .icons span:first-child::after {
  animation: flash-danger 0.9s linear infinite;
}

body > div.page > .content > header > .icons span:nth-child(2)::after {
  background-color: rgb(34, 192, 60);
  animation: flash 0.9s linear infinite;
}

body > div.page > .content > header > .icons > .profile {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

body > div.page > .content > header > .icons > .profile:hover > ul {
  opacity: 1;
  top: 65px;
}

body > div.page > .content > header > .icons > .profile img {
  max-width: 100%;
  border-radius: 50%;
}

body > div.page > .content > header > .icons > .profile > ul {
  position: absolute;
  right: 10px;
  top: 80px;
  background-color: white;
  width: 170px;
  opacity: 0;
  transition: var(--main-transition);
}

body > div.page > .content > header > .icons > .profile > ul li {
  padding: 20px;
  color: black;
  border-bottom: 1px solid #ddd;
  transition: var(--main-transition);
}

body > div.page > .content > header > .icons > .profile > ul li:hover {
  transform: translateX(10px);
  opacity: 0.6;
}

body > div.page > .content > header > .icons > .profile > ul li:last-child a {
  color: red;
}

body > div.page > .content > header > .icons > .profile > ul li a i {
  margin-right: 15px;
}
/* End Header Styles */

/* Start Wraper Styles */
body > div.page > .content > div.wraper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  gap: 20px;
}

@media (max-width: 768px) {
  body > div.page > .content > div.wraper {
    grid-template-columns: minmax(200px, 1fr);
  }
}
/* End Wraper Styles */

/* Start Animations Styles */
@keyframes flash-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-sizing: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

@keyframes flash {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
  }
  100% {
    box-sizing: 0 0 0 0 rgba(34, 192, 60, 0);
  }
}
/* End Animations Styles */
